
*{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
a { color: #3F2C57; background: inherit; text-decoration: none; }

a:hover { color: #808080; background: inherit; }
p {
	font-size: medium;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0;
	font-weight: lighter;
	padding: 5px;
}
h1 {
	padding: 25;
	margin: 0;
	font-family: "ו";
	font-size: 2.8em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin-top: 10px;
}
h2 { margin: 0; padding: 0; font: normal 1.8em Georgia, "Trebuchet MS", Arial, Sans-Serif; }
h1 a, h2 a { color: #000; background: inherit; text-decoration: none; }
img { border: 0; }


#header {
	color: #333333;
	height: 94px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

/* main horizontal menu */
#tablist{
	margin: 25px 0 0 0;
	margin-top: 5px;
}
	#tablist li{ list-style: none; display: inline;  }
	#tablist li a{
		text-decoration: none;
		margin: 0 3px 0 0;
		padding: 4px 15px;
		border: 1px solid #3B3B3B;
		font-weight: bold;
		color: #333333;
	}
	#tablist li a:hover{
		border: 1px solid #55684A;
		color: #0000FF;
	}
	#tablist li a.current{
		background: #ADD597;
		color: #0000FF;
	}
	#tablist .key {
	text-decoration: underline;
	font-size: 16px;
	font-family: "ו";
}