*{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
body {
	position:absolute;
	left:0px;
	top:100px;
	font: .7em Arial, Verdana, Sans-Serif;
	line-height: 1.7em;
	background: #fff url(main_images/body_bg.jpg) repeat-x;
	color: #454545;
	top: auto;
	bottom: auto;
}
a { color: #3F2C57; background: inherit; text-decoration: none; }

a:hover { color: #808080; background: inherit; }
p {
	font-size: medium;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0;
	font-weight: lighter;
	padding: 5px;
}
h1 {
	padding: 25;
	margin: 0;
	font-family: "ו";
	font-size: 2.8em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin-top: 10px;
}
h2 { margin: 0; padding: 0; font: normal 1.8em Georgia, "Trebuchet MS", Arial, Sans-Serif; }
h1 a, h2 a { color: #000; background: inherit; text-decoration: none; }
img { border: 0; }

/* layout */
#content { margin: 0 auto; width: 980px; }
#header {
	color: #333333;
	height: 94px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

/* main horizontal menu */
#tablist{
	position:absolute;
	margin: 25px 0 0 0;
	margin-top: 5px;
}
	#tablist li{ list-style: none; display: inline;  }
	#tablist li a{
		text-decoration: none;
		margin: 0 3px 0 0;
		padding: 4px 15px;
		border: 1px solid #3B3B3B;
		font-weight: bold;
		color: #333333;
	}
	#tablist li a:hover{
		border: 1px solid #55684A;
		color: #0000FF;
	}
	#tablist li a.current{
		background: #ADD597;
		color: #0000FF;
	}
	#tablist .key {
	text-decoration: underline;
	font-size: 16px;
	font-family: "ו";
}

#left {
	float: left;
	width: 200px;
	margin: 0 0 10px 0;
	margin-top: 10px;
	border-right: 3;
}
	.subheader {
	margin: 0 0 10px 0;
	padding: 8px;
	background: #f4f4f4 url(main_images/bgshade.gif) repeat-x;
	color: #808080;
	border-bottom: 1px solid #ccc;
	width: 270px;
	}
	.left_articles {
	margin: 0px 0 10px 0;
	background: #fff url(main_images/bgshade.gif) repeat-x;
	color: #454545;
	padding: 8px;
	width: 270px;
	}
		.date { font-size: .9em; padding: 0 0 0 12px; background: #fff url(images/news.gif) no-repeat center left; color: #808080; }
		.bigimage {
			float: left;
			clear: left;
			border: 1px solid #ccc;
			background: #eee;
			color: #000;
			width: 200px;
			height: 150px;
			margin: 0 15px 10px 0;
		}
	.left_box {
		background: #f4f4f4;
		color: #808080;
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		padding: 15px;
		margin: 0 0 15px 0;
	}
	.thirds {
		float: left;
		width: 186px;
		padding: 0 10px 0 15px;
	}		
		


/* right side */
#right {
	float: right;
	width: 310px;
	margin: 0 0 10px 0;
	margin-top: 6px;
}
	.right_articles {
		border: 1px solid #ccc;
		padding: 8px;	
		margin: 0 0 10px 0;
		background: #eee;
		color: #454545;
	}
	.image { float: left; margin: 0 9px 3px 0; }
	.notes {
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		padding: 17px 10px 17px 80px;	
		margin: 0 0 10px 0;
		background: #fff url(main_images/notes.gif) no-repeat center left;
		color: #454545;
	}

#main_table{
border-top-width:0px;
border-color:#FF0033;
}

/* footer */
#footer { 
	clear: both; 
	color: #808080;
	background: #FFF;
	padding: 10px 15px;
	border-top: 1px solid #ccc;
}
	#footer .right { float: right; }
